<!-- <h1>jaka zawartosc: {{ imagesData }}</h1> -->
<!-- <ul *ngIf="imagesData">
    <li *ngFor="let post of imagesData">
        <img *ngIf="post.imgUrl.includes('jpg') || post.imgUrl.includes('jpeg') || post.imgUrl.includes('png') || post.imgUrl.includes('gif')"
            [src]="post.imgUrl">
        <a [routerLink]="['/user', post.author]">{{ post.author }}</a>
    </li>
</ul> -->

<div *ngIf="imagesData.length; else noImagesData">
    <ul class="posts-list">
        <li class="post" *ngFor="let post of imagesData">
            <img class="thumbnail" [src]="post.thumbUrl" alt="image" (click)="onImageClick(post.imgUrl)">
            <div class="author" [routerLink]="['/user', post.author]">
                <span>{{ post.author }}</span>
            </div>
        </li>
    </ul>
</div>

<ng-template #noImagesData>
    <p>{{ noDataText }}</p>
</ng-template>