<!-- <h1>jaka zawartosc: {{ imagesData }}</h1> -->
<!-- <ul *ngIf="imagesData">
    <li *ngFor="let post of imagesData">
        <img *ngIf="post.imgUrl.includes('jpg') || post.imgUrl.includes('jpeg') || post.imgUrl.includes('png') || post.imgUrl.includes('gif')"
            [src]="post.imgUrl">
        <a [routerLink]="['/user', post.author]">{{ post.author }}</a>
    </li>
</ul> -->
<div *ngIf="imagesData.length; else noImagesData">
    <div *ngFor="let post of imagesData" class="post">
        <p>{{ post.author }}</p>
        <p>{{ post.imgUrl }}</p>
    </div>
</div>

<ng-template #noImagesData>
    <p>Loading data...</p>
</ng-template>